@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay"; */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body{
    overflow-x: hidden;
};